<nav>
    <span class="title">Welcome!</span>
    <div class="actions">
        <button class="btn" (click)="onLogout()">Logout</button>
    </div>
</nav>
<div class="container">
    <div class="card fx-3">
        <div class="card-header">
            <div class="card-title">
                <span *ngIf="!edit; else viewEdit">New User</span>
            </div>
            <ng-template class="card-title"  #viewEdit>
                <span #viewEdit>Edit User</span>
            </ng-template>
        </div>
        <div class="card-content">
            <form [formGroup]="userForm">
                <div class="form-field">
                    <label>Name</label>
                    <input id="name" placeholder="Name" formControlName="name" required type="text" text="text" matInput
                        [(ngModel)]="user.name">
                    <mat-error *ngIf="isValidField('name')">
                        {{ getErrorMessage("name") }}
                    </mat-error>
                </div>
                <div class="form-field">
                    <label>Username</label>
                    <input placeholder="Username" formControlName="username" required type="text"
                        [(ngModel)]="user.username">
                    <mat-error *ngIf="isValidField('username')">
                        {{ getErrorMessage("username") }}
                    </mat-error>
                </div>
                <div class="form-field">
                    <label>Email</label>

                    <input placeholder="Email" formControlName="email" required type="text" [(ngModel)]="user.email">

                    <mat-error *ngIf="isValidField('email')">
                        {{ getErrorMessage("email") }}
                    </mat-error>
                </div>
                <div class="form-field">
                    <label>Website</label>

                    <input placeholder="Website" class="hasError" formControlName="website" required type="text"
                        [(ngModel)]="user.website">

                    <mat-error *ngIf="isValidField('website')">
                        {{ getErrorMessage("website") }}
                    </mat-error>
                </div>
                <div class="card-footer" style="margin-top: 5%;">
                    <button class="btn" (click)="onBack()">Cancel</button>
                    <button class="btn" (click)="edit ? updateUser() : onSave()">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>